<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="21411AndreasHammar.VinylShopper" Publisher="CN=FA18167A-309D-4036-BC20-56EAF537BC91" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Record Shopper</DisplayName>
    <PublisherDisplayName>Andreas Hammar</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VinylShopper.Win.App">
      <VisualElements DisplayName="Record Shopper" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Shoppa vinylskivor" ForegroundText="light" BackgroundColor="#150000">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#150000" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>